@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@800&display=swap');
@media all {
    * {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    footer,
    main {
        background-color: #fff;
        margin: 0vh auto;
    }
    main {
        border-radius: 5px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
        min-height: 200px;
    }
    header {
        min-height: 50px;
    }
    nav ul {
        text-transform: uppercase;
    }
    nav li {
        background-color: rgba(0, 0, 0, 0.1);
        display: block;
        margin-left: -40px;
        padding: 10px;
        transition: background-color 0.5s;
    }
    nav li:hover {
        background-color: #606060;
        text-decoration: underline;
    }
    nav li a {
        text-decoration: none;
        color: rgba(0, 0, 0, .2);
    }
    nav li a:hover {
        color: blue;
    }
    aside {
        min-height: 200px;
    }
    body {
        background-color: #dddddd;
        width: 100%;
    }
    p {
        padding: 10px;
        text-align: justify;
        text-indent: 20px;
    }
    article p {
        text-indent: 20px;
        margin: auto 10px;
    }
    h2 {
        text-align: center;
        font-family: times, serif;
        background-color: gray;
        margin: 5px;
    }
    figure {
        border-left: 1px dashed black;
    }
    .Imagem_favorita {
        margin: 10px auto;
        width: 50%;
        position: relative;
        box-shadow: 1px 1px 4px black;
    }
    .Imagem_favorita img {
        width: 640px;
    }
    .carousel p {
        margin-top: -100px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        text-indent: 0xp;
        font-size: 20px;
        background-color: rgba(0, 0, 0, .6);
    }
    table {
        border-spacing: 0px;
        margin: auto;
        width: 90%;
    }
    table td {
        border: 1px solid #606060;
    }
    td {
        padding: 5px;
        font-weight: bolder;
    }
    footer {
        border-top: 1px solid #606060;
        clear: both;
        bottom: 0;
        background-color: white;
    }
    footer img {
        margin: 0px 6px 10px;
    }
    footer p {
        text-align: center;
        bottom: 0;
    }
    section a {
        color: blue;
    }
    section a:hover {
        color: black;
    }
}

@media screen and (min-width: 768px) {
    main {
        margin-top: 10vh;
    }
    nav li {
        display: inline-block;
        margin: initial !important;
    }
    aside {
        display: inline-block !important;
        margin: 0px !important;
        padding: 0px !important;
        width: 50%;
    }
    .eu {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99;
    }
}