@charset "UTF-8";

	body {
	background-image:url("fundobranco.jpg");
	}                
        p{
	text-align: justify;
	text-indent: 20px;
	}
        body{
        color:black;
        }
        h1{
        text-shadow: 2px 2px 2px blue;
        }
        h2{
        color:blue;
        text-shadow: 5px 5px 10px blue;
        }
     
