@charset "UTF-8"
                
        p{
	text-align: justify;
	text-indent: 50px;
	}
        body{
        color:black;
        }
        h1{
        text-shadow: 2px 2px 2px blue;
        }
        h2 {
        color:blue;
        text-shadow: 0px 0px 3px black;
        }
     
