@charset "UTF-8";

p{
	text-align: justify;
	text-indent: 20px;
	}
body{
        color:black;
	background-image:url("fundobranco.jpg");	
	background-size: 100%;
        }
h1{
        text-shadow: 2px 2px 2px blue;
        }
h2{
        color:blue;
        text-shadow: 5px 5px 10px blue;
        }
header#cabecalho {
text-align: center;
	
}

header#cabecalho h2 {
margin: -10px 0px -20px 0px;
}

header#cabecalho h1 {
margin: -7px 0px -20px 0px;
}

a {
text-decoration: none;
}

h3#contato {
color: blue;
}

#dados {
text-align: center;
}



